.env
.env.local
.env.production
.venv/
__pycache__/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.flask_session/
node_modules/
dist/
coverage/
certbot/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
